body {
    margin: 0;
    background-color: rgb(2, 2, 51);
    color: aliceblue;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-around;
}

#home-title{
width: 149px;
height: 36px;
left: 85px;
top: 68px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;

text-align: center;

color: #EEEEEE;

}

#guest-title{
width: 149px;
height: 36px;
left: 340px;
top: 68px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 36px;

text-align: center;

color: #EEEEEE;
}

#home-point-text{

width: 117px;
height: 120px;
left: 100px;
top: 125px;


font-family: 'Cursed Timer ULiL', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;


text-align: center;

color: #ff0432;
}

#guest-point-text{

width: 117px;
height: 120px;
left: 100px;
top: 125px;


font-family: 'Cursed Timer ULiL', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;


text-align: center;

color: #ff0432;
}

.box-1{
width: 115px;
height: 120px;
left: 82px;
top: 125px;

background: #080001;
border-radius: 5px;
}

.button-1{
   
    width: 30px;
height: 25.77px;
left: 89px;
top: 280px;

font-family: 'Cursed Timer ULiL';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 155% */

text-align: center;

color: #9AABD8;
background-color: rgb(2, 2, 51);
}

.button-2{
    
    
    width: 30px;
    height: 25.77px;
    left: 143px;
    top: 280px;
    
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    
    text-align: center;
    
    color: #9AABD8;
    background-color: rgb(2, 2, 51);
    
}

.button-3{
  
    width: 30px;
    height: 25.77px;
    left: 199px;
    top: 280px;
    
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    
    text-align: center;
    color: #9AABD8;
    background-color: rgb(2, 2, 51);
    
}

#rectangle-1{

    box-sizing: border-box;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;
    
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

#rectangle-2{
    box-sizing: border-box;

   
    width: 45px;
    height: 45px;
    left: 136px;
    top: 271px;
    
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

#rectangle-3{
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    left: 192px;
    top: 271px;
    
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

#box{
    display: flex;
    
}